<style type="text/css">
.tf  {border-collapse:collapse;border-spacing:0;width:100%}
.tf td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tf th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tf .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.col1 { width: 20%;}
.col2 { width: 80%;}
</style>
<table class="tf">
<thead>
  <tr>
    <th class="tg-0pky col1">Name</th>
    <th class="tg-0pky col2">Hatim Sawai</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0pky col1">UID No.</td>
    <td class="tg-0pky col2">2021300108</td>
  </tr>
  <tr>
    <td class="tg-0pky col1">Course</td>
    <td class="tg-0pky col2">Advanced Data Visualization</td>
  </tr>
</tbody>
</table>

## <p style="text-align:center;font-weight:500;">ADV LAB ESE</p>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;width:100%}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 10px;word-break:normal;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top;}
.col1 { width: 20%;}
.col2 { width: 80%;}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0pky col1">Aim</th>
    <th class="tg-0pky col2">
      1. Write Aim here 
      <!-- <br>   -->
    </th>
  </tr>
</thead>
</table>

### 1. Importing Libraries and Dataset

In [1]:
library(ggplot2)
library(dplyr)
library(lintr)
library(lubridate)
library(wordcloud)
library(RColorBrewer)
library(plotly)
library(tm)
library(quanteda)
library(scatterplot3d)

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union



Attaching package: 'lubridate'


The following objects are masked from 'package:base':

    date, intersect, setdiff, union


Loading required package: RColorBrewer


Attaching package: 'plotly'


The following object is masked from 'package:ggplot2':

    last_plot


The following object is masked from 'package:stats':

    filter


The following object is masked from 'package:graphics':

    layout


Loading required package: NLP


Attaching package: 'NLP'


The following object is masked from 'package:ggplot2':

    annotate


Package version: 4.1.0
Unicode version: 15.1
ICU version: 74.1

Parallel computing: 16 of 16 threads used.

See https://quanteda.io for tutorials and examples.


Attaching package: 'quanteda'


The following object is masked from 'package:tm':

    stopwords


The following objects are masked from 'package:NLP':

    meta, meta<-

### 2. Data Preprocessing

In [2]:
data <- read.csv("../Datasets/Housing.csv")
head(data)

  price    area bedrooms bathrooms stories mainroad guestroom basement
1 13300000 7420 4        2         3       yes      no        no
2 12250000 8960 4        4         4       yes      no        no
3 12250000 9960 3        2         2       yes      no        yes
4 12215000 7500 4        2         2       yes      no        yes
5 11410000 7420 4        1         2       yes      yes       yes
6 10850000 7500 3        3         1       yes      no        yes
  hotwaterheating airconditioning parking prefarea furnishingstatus
1 no              yes             2       yes      furnished
2 no              yes             3       no       furnished
3 no              no              2       yes      semi-furnished
4 no              yes             3       yes      furnished
5 no              yes             2       no       furnished
6 no              yes             2       yes      semi-furnished

<p style="page-break-after:always;"></p>

### 3. Further Steps

In [ ]:
# code goes here

<p style="page-break-after:always;"></p>

### Conclusion
In this experiment, we learned